#footer {
    width: 300px;
    padding-top: 10px;
    margin: 2px;
    border-top : 2px solid #0047AB  ;
    position: absolute;
    bottom: 50px;
    left: 0;
    width: 200px;
    height: 10px;
}

header h1 {

    display: block;
    position: absolute;
    top: 10%;
    width: 100%;
    text-align: center;
}

header ul {

    display: flex;
    justify-content: space-between;

}



.intro {

    display: inline-block;
    position: absolute;
    top: 20%;
    text-align: center;
    width: 100%;

    

}

.articles {

    display: flex;
    border-bottom: 4px solid #0047AB;
    position: absolute;
    top: 35%;
    flex-direction:row
}

.grid-section {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    row-gap: 20px ;
    position: absolute;
    bottom: 20%;
    width: 100%;
    gap: 100px;
    justify-content: space-between;
}

.grid-item {

    border: 1px #0047AB solid;
    background-color: beige;
}

.nav-section{
    border: 1px #0047AB solid;
    background-color: bisque;
    
}